@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #34353a;
    --secondary: #3d3e42;
    --text: #fff;
    --accent: #fec86a;
}

.hero-section {
    height: calc(100vh - 6rem);
}
